# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# Eclipse files
.project
.classpath
.settings/

# IntelliJ IDEA files
.idea/
*.iml
out/

# NetBeans files
nbproject/private/

# Maven target directory
target/

# VS Code settings
.vscode/

# Mac OS files
.DS_Store
